/* Estilo para el cuerpo de la página */
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #757575;
    display: flex;
    justify-content: center;
    height: 100vh;
  
    /* justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
    
    width: 100%;
  }
  
  /* Estilo para el formulario */
  form {
    width: 420px;
    padding: 40px;
    background-color: #234e64;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  
    /* position: relative;
    top: 30; left: 700px; */
  }
  
  /* Estilo para las etiquetas del formulario */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  /* Estilo para los campos de entrada de texto */
  input {
    width: 395px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  
  
  /* Estilo para las opciones del select */
  select option {
    padding: 5px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Estilo para el hover de las opciones */
  select option:hover {
    background-color: #be1717;
    color: #fff;
  }
  
  /* Estilo para la opción seleccionada */
  select option:checked {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Estilo para el hover del elemento select */
  select:hover {
    border-color: #be1717;
  }
  
  
  /* Estilo para los botones del formulario */
  button[type="submit"] {
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white; 
    color: black; 
  }
  
  /* Estilo para los botones al pasar el mouse sobre ellos */
  button[type="submit"]:hover {
    background-color: #119994;
    color: rgb(255, 255, 255); 
  }
  
  #imagen {
    width: 70%;
    position: relative; 
    top: 120px; left: 55px;
  }
  
  #resultlabel{
    font-size: 19px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 30px; left: 10px;
  }
  
  #fcolor{
    color: white;
  }
  
  #resultlabel2{
    font-size: 18px;
    background-color:#119994;
    color: rgb(255, 255, 255);
  }
  
  #resultlabel3{
    font-size: 18px;
    background-color:#119994;
    color: rgb(255, 255, 255);
  }
  